@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@1,900&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');

.footer {
    border-radius: 10px 10px 0px 0px;
    margin-top: 200px;
    padding-bottom: 100px;
    background-color: rgba(4, 181, 199, 25);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Kaushan Script', cursive;

}

.footer ul li {
    list-style: none;
    padding: 5px;

}

.footer ul li a {
    text-decoration: none;
    color: black;
    font-weight: ;
    transition: .5s ease-in-out;
}

.footer ul li a:hover {
    color: white;

}

.copy {
    background-color: rgba(4, 181, 199, 25);
    margin-top: 3px;

    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy img {
    width: 90px;
}