@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@1,900&family=Playfair+Display:ital@0;1&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;


}



.main {
  display: flex;
  background-blend-mode: color-dodge;
  background-color: rgba(220, 237, 245, 0.543);
  ;
  height: 80vh;
  width: 100vw;
}

.main .img1 img {
  height: 600px;
}

.main .img1 {
  width: 60vw;
}

.main .content {
  padding: 20px;
  width: 40vw;
}




.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  gap: 70px;
  width: 100vw;


}

.item {
  background-color: rgb(245, 217, 217);
  height: 300px;
  width: 300px;


}

.items .item img {
  height: 300px;
  width: 250px;
}

.jacket {
  background-color: rgb(214, 234, 250);
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.jacket .mens-jacket img {
  height: 700px;
  width: 500px;

}

.jacket .mens-jacket-item img {
  height: 300px;
  width: 300px;
}

.mens-jacket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.bn53 {
  background-color: #0C2340;
  padding: 1px;
  height: 35px;
  border-radius: 10px;
  width: 100px;
  margin-bottom: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.bn53:hover {
  animation: bn53bounce 2.5s infinite;
}

@keyframes bn53bounce {

  5%,
  50% {
    transform: scale(1);
    color: gold;
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}