body {
    background-color: rgb(207, 231, 243);
}

body::-webkit-scrollbar {
    width: 0px;
}

.slider img {
    width: 100vw;
    height: 70vh;
    margin-top: 5px;
}

.deal {
    display: flex;
    justify-content: center;
    align-items: center;
}


.items {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ind-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-img {
    background-color: rgba(4, 181, 199, 19);
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    width: 200px;

}

.product-img:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}

.collection {
    background-color: rgba(4, 181, 199, 19);
    display: flex;
    padding: 20px 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white
}

.collection img {
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.cole {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}


@media screen and (max-width: 600px) {

    html {
        font-size: 10px;
    }

    .slider img {
        width: 100vw;
        height: 30vh;
    }

    .product-img {
        min-height: auto;
    }

}