@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@1,900&family=Playfair+Display:ital@0;1&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0C2340;
  position: sticky;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
  z-index: 3;
  font-family: 'Playfair Display', serif;
  position: sticky;
  top: -60px;
  gap: 20px;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  flex-direction: column;

}

.img-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 20px; */
  cursor: pointer;
}

.nav-left h3 {
  display: inline;
}

.nav-left img {
  width: 1rem;
}

.login {
  font-size: -10rem;
}

.nav-right img {
  height: 1rem;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-mid {
  color: white;
  margin-left: 10px;
}

.nav-mid img {
  width: 7rem;
}


.nav-right {
  color: white;
  cursor: pointer;
}

.nav-right .icons {
  display: flex;
  gap: 20px;
  cursor: pointer;

}

.search input {
  width: 350px;
  height: 40px;

}

.search-2 input {
  display: none;
}

.nav-right .hamburger {
  display: contents
}

.cart-icon {
  color: white;
}

.navigation {
  position: sticky;
  top: 0px;
  background-color: #0C2340;
  padding-top: 0px;
  z-index: 5;
}

.menu-icon,
.img-name {
  color: white;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation ul li a {
  border-radius: 100px;
  padding: 1px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  transition: .2s ease-in-out;

}

.navigation ul li {
  list-style: none;


}

.navigation ul li a:hover {

  color: gold;


}

.img4 a,
.img3 a {
  color: white;


}

.active a {
  color: goldenrod;

}

.inactive {
  color: white;
}




@media screen and (max-width: 600px) {

  html {
    font-size: 10px;
  }

  .nav-right .hamburger {
    display: contents;
  }

  .search input {
    width: 150px;
    height: 20px;
  }

  .nav-right .img1 {
    display: contents;

  }


  .nav-right img {
    gap: 30px
  }

  .nav-mid {
    padding-left:
  }
}