@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@1,900&family=Playfair+Display:ital@0;1&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C2340;
  padding: 0px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  z-index: 3;
  font-family: 'Playfair Display', serif;


}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  flex-direction: column;
}

.img-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.nav-left h3 {
  display: inline;
}

.nav-left img {
  width: 1rem;
}

.login {
  font-size: -10rem;
}

.nav-right img {
  height: 1.1rem;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-mid {
  color: white;
}

.nav-mid .cart {
  color: white;
  font: 1rem;

}

.nav-mid img {
  width: 7rem;
  margin-left: -20px;
}

.nav-mid h2 {
  display: inline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-right {
  padding-right: 20px;
  color: white;
  cursor: pointer;
}

.nav-right .icons {
  display: flex;
  gap: 30px;
  cursor: pointer;

}

.nav-right .hamburger {
  display: none;
}

.navigation {
  margin-top: 0px;
  position: sticky;
  top: 54px;
  background-color: #0C2340;
  padding-top: 0px;
  z-index: 999999;
}


.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation ul li a {
  border-radius: 100px;
  padding: 1px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  transition: .2s ease-in-out;

}

.navigation ul li {
  list-style: none;


}

.navigation ul li a:hover {

  color: gold;


}

.img4 a {
  color: white;

}



@media screen and (max-width: 600px) {

  html {
    font-size: 10px;
  }

  .nav-right .icons {
    display: none;
  }

  .nav-right .hamburger {
    display: contents;
  }

  .nav-right .img1 {
    display: contents;

  }

  .navigation {
    margin-top: 0px;
    position: sticky;
    top: 10px;
    background-color: #0C2340;
    padding-top: 0px;
    z-index: 999999;
  }

  .nav-right {
    gap: 15px
  }

  .nav-mid {
    padding-left: 20px;
  }
}