form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(9, 35, 67, .9);
    opacity: 100%;
    z-index: 10000000;
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60vh;
    width: 30vw;

    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    gap: 2px;
    font-size: 1.1rem;
    font-weight: bolder;
}

.sign a {
    text-decoration: none;
    color: #076dea;

}

input {
    border: 3px solid #0C2340;
    padding: 7px;
    width: 240px;
    border-radius: 70px;
}

.log-with {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;


}

.log-with img {
    width: 30px;

}