form {

    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    /* position: fixed;
    top: 0; */
    width: 100vw;
    height: 80vh;
    background-color: rgb(9, 35, 67, .9);
    opacity: 100%;
    z-index: 10000000;
    color: black
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80vh;
    width: 100vw;
    box-shadow: rgb(93, 129, 160) 3px 3px 700px 0px inset, rgba(219, 202, 202, 0.5) -3px -3px 6px 1px inset;
    border-radius: 10px;
    gap: 2px;
    font-size: 1.1rem;
    font-weight: bolder;
    opacity: 100%;
}

.sign a {
    text-decoration: none;
    color: goldenrod
}

input {
    border: 3px solid #0C2340;
    padding: 10px;
    padding-left: 15px;
    width: 240px;
    border-radius: 70px;
}

.log-with {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;


}

.log-with img {
    width: 30px;

}