form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(9, 35, 67, .9);
    opacity: 100%;
    z-index: 10000000;
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60vh;
    width: 30vw;
    box-shadow: 0px 0px 20px 2px rgb(18, 20, 15);
    color: black;
    border-radius: 10px;
    gap: 0px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.sign a {
    text-decoration: none;
    color: #076dea;

}

input {
    border: 3px solid #0C2340;
    padding: 7px;
    width: 240px;
    border-radius: 70px;
}

.log-with {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;


}

.log-with img {
    width: 30px;

}