*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content:space-around;
  align-items:center;
  background-color:rgb(222, 234, 241);
  padding:0px;
  gap:500px;
}
.nav-left img{
  height: 30px;
}
.nav-right img{
  height:20px;
  cursor: pointer;
}
.nav-right{
  display: flex;
  gap: 30px;
}
.nav-mid img{
  height: 90px;
}
.nav-mid h2{
  display: inline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-left h3{
  display: inline;
}