*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content:space-around;
  align-items:center;
  box-shadow: 20px 40px 200px 80px rgb(144, 219, 222);
  background-color:rgba(220, 237, 245, 0.543);
  padding:0px;
  gap:400px;
}
.nav-left img{
  height: 30px;
}
.nav-right img{
  height:20px;
  cursor: pointer;
}
.nav-right{
  display: flex;
  gap: 30px;
}
.nav-mid img{
  height: 90px;
}
.nav-mid h2{
  display: inline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-left h3{
  display: inline;
}

.main{
  display: flex;
  background-blend-mode: color-dodge;
  background-color:rgba(220, 237, 245, 0.543);;
  height:80vh;
  width: 100vw;
}
.main .img1 img{
  height: 600px;
}
.main .img1{
  width: 60vw;
}
.main .content{
  padding:20px;  
  width:40vw;
}
button{

    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    background-color:rgb(5, 168, 233);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: 1s ease-in-out;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    
}
button:hover{
  background-color: rgb(5, 96, 132);;
}
.items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  gap: 70px;
  width:100vw;
  

}
.item{
  background-color:rgb(245, 217, 217);
  height:300px;
  width: 300px;


}
.items .item img{
  height: 300px;
  width: 250px;
}